<%= render partial: 'records/kaitekikun'%>

 <h1 class="maintitle">申し送り一覧</h1>




 <div class="inner">
    <% @records.each do |record| %>
      <table>
	    <tbody>
	    	<tr>

      <p class="okuriname"><%=record.name%>様・・・<%= record.message%></p>
     </tr>
    <tr>
    </tr>
  
   <% end %>


   <%= link_to 'TOPページへ戻る', root_path%>
 </div>