<%= render partial: 'kaitekikun'%>

<div class="greeting">
  こんにちは 
    <% if user_signed_in? %>
     <%"#{current_user.name}"%>
     さん
    <%end%>
</div>

<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %>